$body-bg: #e5e5e5;
$header-bg: #ffffff;
$products-bg: #ffffff;
$text-normal: #001c72;
$text-custom-opacity: rgba(0, 28, 114, 0.4);
$text-custom: #bc2e3e;
$product-ctg: #704697;
$product-ctg-custom: #cd0053;
$text-footer: #fcf1e0;
$border: #ccd2e3;
$border_footer: #fcf1e0;

// CATEGORY
$probiotic: #704697;
$Mobility: #001c72;
$skin_coat: #cd0053;
$health_wellness: #729f00;
$dental: #22a594;
$food: #f54b34;
