html {
    font-size: 62.5%;
}

@media (max-width: 1199px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@font-face {
    font-family: "UtopiaStd";
    src: url("FONTS/Adobe\ -\ UtopiaStd-Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "NeuzeitGro";
    src: url("FONTS/URW\ Type\ Foundry\ -\ NeuzeitGro-Reg.otf");
    font-style: normal;
    font-weight: 400;
}
 .hmg {
     position: relative;
 }
 .hmg::after {
     content: "";
     position: absolute;
     border: .5rem solid rgb(9, 196, 50);
     right: 3rem;
 }
aside.styles_menubar__2CLIR.\.showBar {
    transition: 1s ease-in;
    transform: translate(0rem, 0);   
 }
 
html,
body {
    padding: 0;
    margin: 0!important;
    font-family: UtopiaStd;
    font-weight: 400;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: UtopiaStd;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #001c72;
}
p {
    color: #001c72;
    margin-block-start: 0;
    margin-block-end: 0;
}

p,
span {
    font-family: NeuzeitGro;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
}
header {
    background-color: #ffffff;
    padding: 2.5rem 10.37rem 2.5rem 7.9rem;
    text-align: center;
}
.styles_off__1PIAO {
    width: 16px;
    height: 16px;
}

/* category */
select#div-products {
    position: absolute;
    top: 1rem;
    right: 5rem;
    padding: .8rem 2rem;
    width: 25rem;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 899px) {
    header {
        padding-right: 2.6rem !important;
    }
}

 @media (min-width: 1400px) {
     header {
        display: flex;
        justify-content: center;
     }
 }